LastPage{
.upper{
  height: 50%;
  width: 100%;
}
.down ion-avatar img{
  width:50% !important;
  height: 50% !important;
}
ion-item{
  text-align: center;
  padding-left: 10px;
}
.comment button{
  margin-top: 7%;
}
ion-title{
  text-align: right;
}
}
